@media (min-width: 770px) and (max-width: 1000px) {
    /* Header */
    .header__nav {
        padding: 10px 20px;
    }

    .nav__menu__container {
        gap: 30px;
    }

    .nav__menu-items {
        font-size: 14px;
    }

    /* Main Section */
    .main__hero-title {
        font-size: 28px;
        text-align: center;
    }

    .main__bannière {
        padding: 20px;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .main__bannière h1 {
        text-align: center;
        font-size: 24px;
    }

    .bannière-img {
        width: 100%;
        max-width: 350px;
    }

    .main__bannière-icon {
        flex-direction: column;
        gap: 30px;
        padding-bottom: 50px;
    }

    .bannière-icon {
        flex-direction: row;
        gap: 20px;
    }

    .icon-img {
        width: 30px;
    }

   
}




@media (max-width: 770px) {
    .nav__Logo-img {
        width: 75px;
    }

    .nav__menu-items {
        display: none;
    }

    .nav__mobile-menu {
        display: block;
    }

    .header__nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .main__hero-title {
        font-size: 24px;
    }

    .main__features {
        grid-template-columns: 1fr;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .footer__horaire {
        text-align: center;
    }

    .footer__contact {
        text-align: center;
    }

    .footer__Adresse {
        text-align: center;
    }

    .footer__info {
        text-align: center;
    }

    .footer__socials {
        justify-content: center;
    }
    .main__bannière {
        padding: 15px;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .main__bannière h1 {
        text-align: center;
        font-size: 18px;
    }

    .bannière-img {
        width: 100%;
        max-width: 250px;
    }

    .main__bannière-icon {
        flex-direction: column;
        align-items: center; /* Align items in the center */
        gap: 20px;
        padding-bottom: 20px;
    }

    .bannière-icon {
        flex-direction: column;
        align-items: center; /* Align items in the center */
        gap: 10px;
        text-align: center; /* Ensure text is centered */
    }

    .icon-img {
        width: 25px;
    }
}



