@media (min-width: 770px) and (max-width: 1000px) {
    .main__bannière {
        padding: 20px;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .main__bannière h1 {
        text-align: center;
        font-size: 24px;
    }

    .bannière-img {
        width: 100%;
        max-width: 350px;
    }

    .main__bannière-icon {
        flex-direction: column;
        gap: 30px;
        padding-bottom: 50px;
    }

    .bannière-icon {
        flex-direction: row;
        gap: 20px;
    }

    .icon-img {
        width: 30px;
    }
}

/* For screens less than 770px (mobile view) */
@media (max-width: 770px) {
    .main__bannière {
        padding: 15px;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .main__bannière h1 {
        text-align: center;
        font-size: 18px;
    }

    .bannière-img {
        width: 100%;
        max-width: 250px;
    }

    .main__bannière-icon {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
    }

    .bannière-icon {
        flex-direction: row;
        gap: 15px;
    }

    .icon-img {
        width: 25px;
    }
}